# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local

# Generated documentation and reports
docs/
storybook-static/
coverage/

# Editor directories and files
.idea
.DS_Store
*.sw?
